<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="style3.css">
    

</head>
<body">
    <link rel="stylesheet" href="style3.css">
<table> 
    <th><%= data.Predmet %> </th>
    <tr>
    <th>Задача курса: <%= data.goal %> </th>
    <tr>
    <th>Необходимые знания студента для освоения дисциплины: <%= data.requarements %> </th>
    <tr>
    <th>Отзывы студентов о дисциплине: <%= data.result %> </th>
    <tr>
    <th>Кафедра дисциплины: <%= data.cafedra %> </th>
    <tr>
    <th>Тут должна быть ссылка на кафедру</th>
    <nav>
        <a href="/">Главная</a>
        <a href="/erza">О нас</a>
    </nav>
</table> 
</body>
</html>