<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Дисциплина</title>
</head>

<body">
    <div style="background-color:rgb(187, 119, 122);color:rgb(0, 0, 0);padding:20px;">
        <h1 style="text-align:center;">Дисциплина: <%= data.Predmet %></h1>  
      </div> 
    <div style="background-color:rgb(102, 119, 154);color:rgb(0, 0, 0);padding:20px;">
        <h2 style="text-align:center;"></pstyle>Задача курса:</h2> 
        <p style="text-align:center;"></pstyle><%= data.goal %></p>   
        <h2 style="text-align:center;"></pstyle>Необходимые знания студента для освоения дисциплины:</h2>
        <p style="text-align:center;"></pstyle><%= data.requarements %></p>
        <h2 style="text-align:center;"></pstyle>Отзывы студентов о дисциплине:</h2>
        <p style="text-align:center;"></pstyle><%= data.result %></p>
        <h2 style="text-align:center;"></pstyle>Кафедра дисциплины:</h2>
        <p style="text-align:center;"></pstyle><%= data.cafedra %></p>
      </div>   
    
    <nav>
        <a href="/">Главная</a>
        <a href= <%=link %>    >Назад</a>
    </nav>
</body>
</html>