<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Дисциплина</title>
</head>

<body>
    
    <img class="fon" src="Kolia.jpg">
    <div class="logo" style="height: 150px; top: 0px; background:rgb(0, 0, 0);">
        <img class="img" src="logo.jpg"> </img>
    </div>
    <div class="links" style="height: 150px;height: 20px; top: 150px">
        <nav>
            <a class='dom' href= "/"> Направления  </a>
            <p class='dom'> / </p>
            <a class='dom' href= <%=link%>><%=name%> </a>
            <p class='dom'> / </p>
            <a class='dom' href= <%=data.link%>><%=data.name%> </a>
        </nav>
    </div>
    <div class="box" ></div> 
    <div style="position:  relative; z-index: 2;">
        <table>
            <tr>
                <td>
                    <h1 class="exam" style="margin: 2px; line-height: 180%"> Дисциплина: <%= data.name %> </h1> 
                    <h3 class="exam" style="text-align:center;margin: 2px;line-height: 150%"> Задача курса: </h3> 
                    <p class="zach" style="margin: 2px; line-height: 150%;"><%= data.goal %></p> 
                    <h3 class="exam" style="margin: 2px;text-align:center; line-height: 150%; "> Предметы, необходимые для освоения данного курса: </h3>
                    <p  class="zach"style="margin: 2px;line-height: 150%"><%= data.requarements %></p>
                    <h3 class="exam" style="margin: 2px;text-align:center;line-height: 150%">Для изучения каких дисциплин требуется изучение данного курса:</h3>
                    <p  class="zach"style="margin: 2px;line-height: 150%;"><%= data.future %></p>
                    <h3 class="exam" style="margin: 2px;text-align:center;;line-height: 150%">Какие компетенции формируются у обучающихся в ходе освоения курса:</h3>
                    <p  class="zach"style="margin: 2px;line-height: 150%; "><%= data.result %></p>
                    <a class="exam" style="color:rgb(255, 255, 255);margin: 2px;line-height: 150%;" href=<%=data.pox %> > Дисциплина реализуется: <%= data.cafedra %> <%=data.cabinet%></a>
                </td>
            </tr>
        </table>
       
    </div>   
</body>

</html>