<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Дисциплина</title>
</head>

<body>
    <div class="logo" style="height: 100px; top: 0px; background:red;"></div>
    <div class="links" style="height: 20px; top: 100px; background:rgb(57, 49, 49);">
        <nav>
            <a class='dom' href= "/"> Направления  </a>
                <p class='dom'> / </p>
            <a class='dom' href= <%=link%>><%=name%> </a>
                <p class='dom'> / </p>
        </nav>
    </div>
    <div class="box"></div>
    <div>
        <h1 style="text-align:center"> Дисциплина: <%= data.name %> </h1>  
        <h2 style="text-align:center"> Задача курса: </h2> 
        <p style="text-align:center"><%= data.goal %></p>   
        <h2 style="text-align:center">Необходимые знания студента для освоения дисциплины:</h2>
        <p style="text-align:center"><%= data.requarements %></p>
        <h2 style="text-align:center">Отзывы студентов о дисциплине:</h2>
        <p style="text-align:center"><%= data.result %></p>
        <h2 style="text-align:center">Кафедра дисциплины:</h2>
        <a href="data.cabinet">
            <p style="text-align:center"> <%= data.cafedra %> </p>
        </a>
    </div>   
</body>

</html>