<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    

</head>
<body">
    <link rel="stylesheet" href="style.css">
    <h1>3 страница!</h1>
    <p>Дисциплина: <%= data.Predmet %> </p>
    <p>Задача курса: <%= data.goal %> </p>
    <p>Необходимые знания студента для освоения дисциплины: <%= data.requarements %> </p>
    <p>Отзывы студентов о дисциплине: <%= data.result %> </p>
    <p>Кафедра дисциплины: <%= data.cafedra %> </p>
    <p>Тут должна быть ссылка на кафедру</p>
   
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
        <a href="/hhhh">Предметы </a>
    </nav>
</body>
</html>