<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Дисциплина</title>
</head>

<body>
    
    <img class="fon" src="Kolia.jpg">
    <div class="logo" style="height: 150px; top: 0px; background:rgb(0, 0, 0);">
        <img class="img" src="logo.jpg"> </img>
    </div>
    <div class="links" style="height: 150px;height: 20px; top: 150px">
        <nav>
            <a class='dom' href= "/"> Направления  </a>
            <p class='dom'> / </p>
            <a class='dom' href= <%=link%>><%=name%> </a>
            <p class='dom'> / </p>
            <a class='dom' href= <%=data.link%>><%=data.name%> </a>
        </nav>
    </div>
    <div class="box" ></div> 
    <div style="position:  relative; z-index: 2;">
        <table>
            <tr>
                <td>
                    <h1 class="exam" style="margin: 2px; line-height: 180%"> Дисциплина: <%= data.name %> </h1> 
                    <% if (data.goal ) { %> 
                        <h3 class="exam" style="text-align:center;margin: 2px"> Задача курса: </h3> 
                        <p class="zach" style="margin: 2px; line-height: 150%;"><%= data.goal %></p> 
                    <% } %>  
                    <% if (data.requarements) { %>
                        <h3 class="exam" style="margin: 2px;text-align:center">Необходимые знания студента для освоения дисциплины:</h3>
                        <p  class="zach"style="margin: 2px;line-height: 150%; line-height: 150%"><%= data.requarements %></p>
                    <% } %> 
                    <% if (data.result) { %>
                        <h3 class="exam" style="margin: 2px;text-align:center;">Для чего необходима дисциплина:</h3>
                        <p  class="zach"style="margin: 2px;line-height: 150%; line-height: 150%"><%= data.result %></p>
                    <% } %> 
                    <% if (data.pox) { %>
                        <h3 class="exam" style="margin: 2px;text-align:center;">Кафедра дисциплины:</h3>
                        
                        <a href=<%=data.pox %> class="zach" style="color:rgb(255, 255, 255);margin: 2px;line-height: 150%;"> <%= data.cafedra %> <%=data.cabinet%></a>
                    <% } %>
                </td>
            </tr>
        </table>
       
    </div>   
</body>

</html>