<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    

</head>
<body">
    <link rel="stylesheet" href="styleP2.css">
    <h1>2 стр им. Св. михуила</h1>


<table> 
    <th>1 курс 1 семестр</th> 
    <% for(var i=0; i<data.length; i++){ %>
        <% if (data[i].semestr == "1 семестр") { %>
            <% if (data[i].examtype == "Экзамен") { %>
                <tr>
                    <td class="exam" >
                        <nav>
                            <a href= <%= "/erza/"+data[i].link %>>
                            <%= data[i].name %> 
                            </a>
                        </nav>
                    </td>
                </tr> <% } %>
        <% } %>
    <% } %>
    <% for(var i=0; i<data.length; i++){ %>
        <% if (data[i].semestr == "1 семестр") { %>
           <% if (data[i].examtype != "Экзамен") { %>
                <tr>
                <td class="zach" href= <%="/ERZA/"+data[i].link %> >
                <%= data[i].name %> </td>
                </tr> <% } %>
        <% } %>
    <% } %>
    <tr>
    </tr>
</table>        


<!-- СКАЗАНИЯ СВ. МИХУИЛА-->
    <!--<p>Привет! <% for(var i=0; i<data.length; i++){ %>
        <% if (data[i].examtype == "Экзамен") { %>
            <a href= <%="/ERZA/"+data[i].link %> ><%= data[i].name %> </a>
          <% } %>
        <% } %></p>
        -->
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
        <a href="/hhhh">3 page</a>
    </nav>
</body>
</html>