<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    

</head>
<body">
    <link rel="stylesheet" href="styleP2.css">
    <h1>ЕБАЛ ЖОПУ!!</h1>


    <table> 
        <th>1 курс 1 семестр</th> <% for(var i=0; i<data.length; i++){ %>
        <% if (data[i].semestr == "1 семестр") { %>
            <tr>
                <% if (data[i].examtype == "Экзамен") { %>
                <td href= <%="/ERZA/"+data[i].link %> >
                    <%= data[i].name %> 
                </td> <% } %>
            </tr>
          <% } %>
        <% } %>
        <% for(var i=0; i<data.length; i++){ %>
            <% if (data[i].semestr == "1 семестр") { %>
                <tr>
                    <% if (data[i].examtype != "Экзамен") { %>
                    <td href= <%="/ERZA/"+data[i].link %> >
                        <%= data[i].name %> 
                    </td> <% } %>
                </tr>
              <% } %>
            <% } %>
        <tr></tr>
        <th>1 курс 2 семестр</th> <% for(var i=0; i<data.length; i++){ %>
            <% if (data[i].semestr == "2 семестр") { %>
                <tr>
                    <% if (data[i].examtype == "Экзамен") { %>
                    <td href= <%="/ERZA/"+data[i].link %> >
                        <%= data[i].name %> 
                    </td> <% } %>
                </tr>
              <% } %>
            <% } %>
            <% for(var i=0; i<data.length; i++){ %>
                <% if (data[i].semestr == "2 семестр") { %>
                    <tr>
                        <% if (data[i].examtype != "Экзамен") { %>
                        <td href= <%="/ERZA/"+data[i].link %> >
                            <%= data[i].name %> 
                        </td> <% } %>
                    </tr>
                  <% } %>
                <% } %>
            <tr></tr>
    </table>        



    <!--<p>Привет! <% for(var i=0; i<data.length; i++){ %>
        <% if (data[i].examtype == "Экзамен") { %>
            <a href= <%="/ERZA/"+data[i].link %> ><%= data[i].name %> </a>
          <% } %>
        <% } %></p>
        -->
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
    </nav>
</body>
</html>